{% extends 'app/base.html' %}
{% block title %}
    Strona startowa
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Homepage</h1>
    <br>
    <h2>Welcome {{ user.username }}</h2>
    <br>
    <h3>This month's sponsor is Hexxer Toothpaste</h3>
    <img src="https://assetsio.gnwcdn.com/the-witcher-3-best-rpgs.jpg?width=1920&height=1920&fit=bounds&quality=80&format=jpg&auto=webp" style="height: 100%;width: 100%;">
    <br>
    Brush your teeth like a Wither using Hexxer Toothpaste! 

    
{% else %}
    <h1>In order to use this site you need to log in</h1>
    <br><br>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Login</button>
    </form>
    <br>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Register</button>
    </form>
{% endif %}
{% endblock %}