{% extends 'app/base.html' %}
{% block title %}
    My Wishlist
{% endblock %}
{% block content %}
{% for item in wishlist_items %}
    <div class="wishlist-item">
        <h3>{{ item.book.title }} - Author: {{ item.book.author }} - Publisher: {{item.book.publisher}}</h3>
        <form action="{% url 'remove_from_wishlist' item.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Remove from wishlist</button>
        </form>
    </div>
{% endfor %}
{% endblock %}